<nav class="navbar">
  <ul>
    <li class="li-inline nav-item"><a href="/">Home</a></li>
    <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
    {{#if loggedIn}}
    <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    {{else}}
    <li class="li-inline nav-item"><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>
<header class="hero">
  <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
</header>

<main class="col-auto">
  <header class="card-header">
    <h2>Login</h2>
  </header>
  <form id="login-form" class="card-body">
    <figure>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </figure>
    <figure>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </figure>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
  </section>

  <script src="/js/login.js"></script>
</main>
<section class="card">