<section class="card">
  <article class="card-header">
    <h2>Sign Up</h2>
  </article>
  <article id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <figcaption>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </figcaption>
      <figcaption>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </figcaption>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </article>
</section>

<script src="/js/signup.js"></script>